#pagebottom {
  margin-top: auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}
#actionbtn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  background-color: aliceblue;
}
#logoutbtn,
#delAcctbtn {
  flex: 1;
  height: auto;
  min-height: 40px;
  margin-bottom: 10px;
}
#delAcctbtn {
  color: beige;
}
#logoutbtn:hover,
#delAcctbtn:hover {
  opacity: 0.9;
}
